In [3]:
list = [1,12,3,4]

In [4]:
list

[1, 12, 3, 4]

In [5]:
studentlist = ["Name","ID","Dept.","Book Name ","ISBN ID ","Phno:"]

In [6]:
studentlist

['Name', 'ID', 'Dept.', 'Book Name ', 'ISBN ID ', 'Phno:']

In [7]:
studentlist[0]

'Name'

In [10]:
studentlist.append("price")

In [11]:
studentlist

['Name', 'ID', 'Dept.', 'Book Name ', 'ISBN ID ', 'Phno:', 'price']

In [16]:
studentlist.extend([2,3])

In [17]:
studentlist

['Name', 'ID', 'Dept.', 'Book Name ', 'ISBN ID ', 'Phno:', 'price', 2, 3]

In [19]:
studentlist.index('ID')

1

In [22]:
studentlist.reverse()

In [23]:
studentlist

[3, 2, 'price', 'Phno:', 'ISBN ID ', 'Book Name ', 'Dept.', 'ID', 'Name']

In [ ]:
# pop,sort , apppend , extend , range , index , replace , reverse ,

In [26]:
studentlist[-1]

'Book Name '

In [27]:
studentlist

[3, 2, 'price', 'Phno:', 'Name', 'ISBN ID ', 'ID', 'Dept.', 'Book Name ']

In [28]:
tuple = ('python ', 'course ' )

In [29]:
print(tuple)

('python ', 'course ')

In [30]:
tuple1 = 'pyhton'

In [33]:
print (tuple1 )

pyhton

In [34]:
print(tuple1 * 2)

pyhtonpyhton

In [35]:
tuple2 = 'p',

In [36]:
print(tuple2 )

('p',)

In [37]:
tuple2 = ("p",)

In [39]:
print(tuple2)

('p',)

In [40]:
tuple = ('hello ')

In [41]:
tuple* 3

'hello hello hello '

In [42]:
print(tuple * 3)

hello hello hello

In [43]:
tuple.count

In [44]:
tuple = ('aa',2,3 )

In [51]:
tuple.index('aa')

0

In [53]:
tuple =(1,'b','z')

In [55]:

tuple = ('Emp_Name ', "EMp_ID","Emp_dept")

In [57]:
a,b,c = tuple

In [58]:
a

'Emp_Name '

In [59]:
b

'EMp_ID'

In [60]:
c

'Emp_dept'

In [61]:
tuple = (10,100,10)

In [62]:
tuple

(10, 100, 10)

In [63]:
10

10

In [64]:
t =(10,100,'this course is shit ')

In [66]:
a,b,c = tuple

In [68]:
a

10

In [69]:
c

10

In [72]:
c

10

In [73]:
b

100

In [74]:
d = {"a":1,"b":2}

In [78]:
d.keys()

dict_keys(['a', 'b'])

In [80]:
d.items()

dict_items([('a', 1), ('b', 2)])

In [83]:
top1 = (1,2,3,4)

In [84]:
top2 = ('a','b','c','d')

In [85]:
top3 = (11,12,13,14)

In [87]:
d= {"product_id" : top1,"product_name ": top2 , "porduct_ price " : top3 }

In [88]:
d.keys()

dict_keys(['product_id', 'product_name ', 'porduct_ price '])

In [91]:
d['product_id']

(1, 2, 3, 4)

In [1]:
a = 'hi dear ! how are you'

In [2]:
a[5:-1]

'ar ! how are yo'

In [3]:
print(a[6:-2])

r ! how are y

In [4]:
"123".isdigit()

True

In [18]:
tuple = ('a',12)

In [16]:
'tuple'.isdigit()

False

In [19]:
'tuple'.isalpha()

True

In [20]:
a = {'hi',12,True}

In [21]:
type(a)

set

In [4]:
b  = ("hello ",123,12,True)

In [5]:
type(b)

tuple

In [32]:
"b".isdigit()

False

In [6]:
b.isdigit()

AttributeError: 'tuple' object has no attribute 'isdigit'

In [34]:
b.isalpha()

AttributeError: 'tuple' object has no attribute 'isalpha'

In [1]:
c = (True,)

In [27]:
'c'.isalpha()

True

In [3]:
'z'.isalpha()

True

In [30]:
d = (123)

In [31]:
'd'.isalpha()

True

In [35]:
c="12"

In [36]:
x  = {2,3,4,5,6}

In [37]:
y ={3,6,1,8,9,10}

In [38]:
x | y

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [39]:
x.union(y)

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [42]:
x.intersection(y) # this is x & y

{3, 6}

In [11]:
c = {1,2,3}

In [12]:
d  = {3,4,5,6}

In [71]:
 c  < d

False

In [14]:
c.append(d)

AttributeError: 'set' object has no attribute 'append'

In [72]:
 d < c

True

In [73]:
c-d

{1, 2}

In [75]:
c^dis

{1, 2}

In [76]:
c.add(d)

TypeError: unhashable type: 'set'

In [9]:
c.update(d)

In [83]:
a = {1,2,3,4}

In [10]:
c

{1, 2, 3, 4, 5, 6}

In [85]:
b = frozenset([2,3,5,6])

In [86]:
a.add(b)

In [ ]:
a= 1

In [ ]:
a